.cookie-message {
  position:fixed;
  left:0;right:0;
  color:#222;
  padding: 1em .7em;
  background-color: #eee;
  font-size: 13px;
  min-width: 0;
  z-index: 100000;
}

.cookie-message a {
  cursor:pointer;
}

.cookie-message p, .cookie-message a {
  color:#333;
  font:bold 11px/18px Arial;
  margin:0.6em 0;
}

.cookie-rules,.wpcb-close-btn {
  margin-left:1em;
}

.wpcb-close-btn {
  display:inline;
  border-color: #167ac6;
  background: #167ac6;
  color: #fff;
  border: solid 1px transparent;
  padding: 0 10px;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.cookie-rules{
  display:inline;
  text-decoration: underline;
}

.cookie-rules:hover{
  text-decoration: none;
}


